.TabsDetails{
    background-color: #141414;
    color:white;
}
.MuiTabs-flexContainer{
    background-color: #141414;
}
.MuiTab-textColorPrimary.Mui-selected{
    color: white !important;
    font-weight: bold;
    background-color: #141414;

}

