.Stats{
    width: 300px;
    &__container{
        width: 100%;
        display: flex;
        &__left{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content:flex-end;
            padding-right: 5%;
        }
        &__right{
            width: 80%; 
        }
    }
}