.SocialMedia{
    margin:20px 0;
    a{
        color:white;
        margin-right: 30px;
        transition: color 0.25s ease-in-out;
        .icon{
            font-size: 25px;
        }
        
        &:hover{
            color:#2196F3;        
        }
    }
}