.CarouselCards{
    padding: 0 15px;
}

.swiper-button-prev{
    &::after{
        font-size: 21px;
        // color:#2196F3;
        color:white;
        background:rgba(0,0,0,0.35);
        padding: 10px;
    
    }
}
.swiper-button-next{
    &::after{
        font-size: 21px;
        color:white;
        background:rgba(0,0,0,0.35);
        padding: 10px;
    }
}
