@import '../../assets/css/_mediaQueries';

.Details{
    &__mainData{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        @include tablet{
            flex-direction: row;
        }
    }
}