.TableData{
    width: 300px;
    color:#505050;
    &__section{
       width: 100%;
       display: flex;
       margin: 0.75em;
        &__left{
            width: 35%;
            text-align: right;
            padding-right: 5%;
            text-transform: uppercase;
        }
        &__right{
            width: 65%;
        }
    }
}